<ul>
  <li><a href="">Aggiungi attivita'</a></li>
  <li><a href="">Attivita' partecipate</a></li>
  <li><a href="">Messaggi</a></li>
  <li><a href="">Notifiche</a></li>
  <li><a href="">Account</a></li>
</ul>
