@import url(reset.css);
@font-face {
  font-family: OpenSans;
  src: url(../res/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../res/fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

body {
  color: #333;
  background-image: url("../res/J Togerther opacity 0.7.jpg");
  background-size: cover;
  font-family: OpenSans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 90%;
  font-size: 1em;
}

main h1 {
  color: #66A377;
  -webkit-text-stroke: 1px #333;
  /* width and color */
  margin: 30px 0;
  font-size: 400%;
  font-weight: bold;
}

main section {
  width: 100%;
  margin: 30px 0;
}

main section * {
  font-size: 100%;
}

main section form li {
  margin: 20px 0;
}

main section form input {
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  padding: 15px 5%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section form input:focus {
  border: 1px solid #66A377;
}

main section a {
  color: inherit;
  text-decoration: none;
}

main section button, main section form input[type="submit"] {
  cursor: pointer;
  padding: 15px 5%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #66A377;
  color: white;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
}

footer p {
  text-align: center;
  padding: 15px 5%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}
/*# sourceMappingURL=style.css.map */